body
{
    padding: 0px;
    margin: 0px;
    background-color:#00203FFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#container
{
    margin-top:30px;
    margin-bottom: 30px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input
{
    padding: 3px;
    margin: 10px;
}
input:focus
{
    outline-style: none;
}
.inside-container
{
    background-color: #ADEFD1FF;
    padding: 40px 40px;
    min-width:10px;
    width:50%;
    max-width: 500px;
    text-align: center;
}
.inside-container h1
{
    text-align: center;
    font-weight: 500;
}
button
{
    padding: 10px 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    display: inline;
}
button:hover
{
    padding: 10px 35px;
    
}
#add
{
    background-color: rgba(0, 128, 0, 0.753);
    border-color: rgba(0, 128, 0, 0.753);
}
#remove
{
    background-color: rgba(255, 0, 0, 0.753);
    border-color:rgba(255, 0, 0, 0.753) ;
}
#removeall
{
    background-color: rgba(255, 0, 0, 0.753);
    border-color: rgba(255, 0, 0, 0.753);
}
.list-item
{
    text-align: left;
}
ul li
{
    list-style-type: none;
    margin: 3px;
}
ul li input[type="checkbox"]:checked +label
{
    text-decoration: line-through;
    color:rgba(0,0,0,0.3);
}
input[type="checkbox"]:checked
{
    background-color: white;
    display: none;
}
#mes
{
    color: red;
    text-align: center;
}
#loading-word
{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 100;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
